.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.movie-card {
  color: #000000;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.poster-container {
 position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
.poster-container img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

/* Rating badge */
.rating-badge {
  position: absolute;
  bottom: 0px;
  left: 8px;
  background: #222;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 6px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  color: limegreen;
}

/* Like button */
.like-button {
  position: absolute;
  bottom: -55px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.like-button:hover {
  transform: scale(1.2);
}

.like-button.liked {
  color: gold;
}

/* Title & date */
.movie-card h4 {
  margin: 10px 0 2px;
  font-size: 1rem;
  font-weight: 600;
}

.movie-card p {
  font-size: 0.85rem;
  color: #ccc;
  margin: 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.pagination-container button {
  background-color: transparent;
  border: 1px solid #ddd;
  color: #333;
  font-size: 0.95rem;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-container button:hover {
  background-color: #eee;
}

.pagination-container button.active {
  background-color: #facc15; /* Tailwind's yellow-400 */
  color: black;
  font-weight: bold;
  border-color: #facc15;
  box-shadow: 0 0 4px rgba(250, 204, 21, 0.7);
}

.pagination-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.rating-circle {
  --rating: 85;
  --size: 42px;
  --border-width: 4px;

  position: absolute;
  bottom: -12px;
  left: 5px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: conic-gradient(
    #16a34a calc(var(--rating) * 10%), 
    #222 calc(var(--rating) * 10%)
  );
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 0 2px #0f0f0f, 0 2px 5px rgba(0, 0, 0, 0.4);
}

.rating-circle span {
  width: calc(var(--size) - var(--border-width) * 2);
  height: calc(var(--size) - var(--border-width) * 2);
  background: #0f0f0f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.85rem;
}

.rating-circle sup {
  font-size: 0.5rem;
  margin-left: 1px;
  color: #ccc;
}
